body{
    margin: auto;
}
/* NAVIGATION BAR */
nav{
    background-color: #7ecbc8;
}
.logo{
    width: 85px;
    height: 40px;
    margin-left: 15px;
}
.text{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgb(88, 87, 87);
    float: right;
    margin-top: 13px;
    margin-right: 15px;
}
.text:hover{
    color: white;
}
/* CONTAINER */
h1{
    font-size: x-large;
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin-top: 50px;
    text-shadow: 1px 1px turquoise;
}
.image1{
    display: flex;
    justify-content: space-around;
}
.photo{
    width: 170px;
    margin: 40px;
    /* border: ridge 2mm cadetblue; */
    outline: 1px solid turquoise;
}
.image2{
    display: flex;
    justify-content: space-around;
}
.photo:hover{
    box-shadow: 2px 1px 5px 1px #b8bdb5;
}
/* FOOTER */
footer{
    background-color: #7ecbc8;
    font-size: smaller;
    color: rgb(88, 87, 87);
    padding: 5px;
    text-align: center;
    margin-top: 40px;
}